
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	font: 12px/1.5 tahoma,arial;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* reset */
.clear-fix {
	zoom: 1;
}

.clear-fix:after {
	content: '';
	display: block;
	height: 0px;
	clear: both;
	visibility: hidden;
}

a {
	color: #ee3c24;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

body {
	background: #0f0f11 url('../img/bg_body.jpg') center top no-repeat;
	position: relative;
	zoom: 1;
}

.wrap {
	position: relative;
	width: 885px;
	margin: 0px auto;
}

/* header */
.header {
	position: relative;
	height: 70px;
	background-color: #1c1c1b;
	font-family: 'microsoft yahei';
	zoom: 1;
	overflow: hidden;
}

.header #logo {
	float: left;
}

.header #logo h1 span {
	display: none;
}

.header #logo .site-desc {
	height: 0px;
	width: 0px;
	overflow: hidden;
	line-height: 0px;
	text-indent: -9999px;
}

.header .nav {
	padding-left: 20px;
	margin-left: 150px;
}

.header .nav li {
	float: left;
}

.header .nav li a {
	display: block;
	width: 70px;
	height: 70px;
	border-left: 1px solid #282828;
	color: #fff;
	font-size: 16px;
	line-height: 70px;
	font-family: 'microsoft yahei';
	text-indent: -9999px;
	background: url('../img/navhead.gif') no-repeat;
}

.header .nav li .page-home {
	background-position: 0 0;
}

.header .nav li .page-news {
	background-position: -70px 0;
}

.header .nav li .page-items {
	background-position: -140px 0;
}

.header .nav li .page-sale {
	width: 95px;
	background-position: -215px 0;
}

.header .nav li .page-blog {
	background-position: -350px 0;
}
/* cur */
.header .nav li.cur .page-home {
	background-position: 0 -70px;
}

.header .nav li.cur .page-news {
	background-position: -70px -70px;
}

.header .nav li.cur .page-items {
	background-position: -140px -70px;
}

.header .nav li.cur .page-sale {
	width: 95px;
	background-position: -215px -70px;
}

.header .nav li.cur .page-blog {
	background-position: -350px -70px;
}

/* hover */
.header .nav li.hover .page-home {
	background-position: 0 -140px;
}

.header .nav li.hover .page-news {
	background-position: -70px -140px;
}

.header .nav li.hover .page-items {
	background-position: -140px -140px;
}

.header .nav li.hover .page-sale {
	width: 95px;
	background-position: -215px -140px;
}

.header .nav li.hover .page-blog {
	background-position: -350px -140px;
}

.header .nav li a:hover {
	text-decoration: none;
}

.header .nav li a span {
	display: block;
	font-size: 10px;
	color: #565454;
}

.header .nav li.cur a {
	color: #ee3c24;
}

.header .nav li.cur a span {
	color: #ee3c24;
}

.header .nav li.hover a {
	color: #fff;
	background-color: #ee3c24;
}

.header .nav li.hover a span {
	color: #fff;
}

.header .follow {
	position: absolute;
	top: 30px;
	right: 100px;
	font-size: 12px;
	font-weight: bold;
	color: #fff;
}

/* main */
.main {
	
}

.main .bnr-cont img{
	display: block;
}

.layout-left {
	float: left;
	width: 660px;

	_overflow: hidden;
}

.layout-right {
	float: right;
	width: 215px;
	position: relative;
	z-index: 20;
}

/* mod */
	/* mod-demo */
.mod-demo {
	position: relative;
	padding: 15px;
	margin-top: 15px;
	background-color: #FFF;
	box-shadow: 1px 1px 3px #111;
}

.mod-demo-first {
	margin-top: 0px;
}

.mod-side {
	position: absolute;
	width: 225px;
	padding-top: 17px;
	margin-left: -10px;
	zoom: 1;
}

.mod-side-discount-detail {
	padding-top: 35px;
}

.mod-side .col-narrow {
	padding-left: 15px;
}

/* footer */
.footer {
	padding: 85px 0 40px;
	color: #f4f2ec;
	background: #1c1c1b url('../img/logo-bottom.png') right 82px no-repeat;
	clear: both;
}

.footer p {
	padding-left: 20px;
}

.footer p a {
	margin-right: 10px;
	color: #f4f2ec;
}




/* cell */


	/* cell-pool-cont */
.cell-pool-cont {
	padding: 15px 0 95px 0;
	overflow: hidden;
}

.cell-pool {
	position: relative;
	width: 900px;
}

.cell-pool li {
	width: 210px;
	float: left;
	display: inline;
	margin: 0 15px 15px 0;
	background-color: #FFF;
}

.cell-pool .check-more {
	position: absolute;
	bottom: -93px;
	right: 0px;
}

.cell-pool .check-more a  {
	display: block;
	line-height: 62px;
	font-size: 28px;
	font-weight: bold;
	font-family: 'microsoft yahei';
	text-align: center;
	color: #fff;
	background-color: #ee3c24;
}

.cell-pool .check-more a:hover {
	text-decoration: none;
}

.cell-pool .alike {
	float: right;
}

.cell-pool .alike a  {
	display: block;
	line-height: 62px;
	font-size: 28px;
	font-weight: bold;
	font-family: 'microsoft yahei';
	text-align: center;
	color: #fff;
	background-color: #ee3c24;
}

.cell-pool .alike a:hover {
	text-decoration: none;
}

.cell-pool li .item-box {
	padding: 15px;
}

.cell-pool li.link-color {
	box-shadow: 1px 1px 2px #666;
}

.cell-pool li.link-color .item-link img {
	zoom: 1; 
	filter: alpha(opacity=90); 
	opacity: 0.9;
}

.cell-pool li.link-color .item-link h2, .cell-pool li.link-color .item-link p {
	color: #ee3c24;
}

.cell-pool li .item-box .cate-link:hover {
	text-decoration: none;
}

.cell-pool li .item-box .item-type {
	position: absolute;
	z-index: 10;
	top: 0px;
	left: 5px;
	padding: 0 8px;
	line-height: 24px;
	font-weight: bold;
	color: #fff;
	cursor: pointer;
}

.cell-pool li .item-box .t-discount {
	background-color: #31a69d;
}

.cell-pool li .item-box .t-brand {
	background-color: #ee3c24;
}

.cell-pool li .item-box .item-name {
	color: #666;
}

.cell-pool li .item-box .item-price {
	color: #000;
}

.cell-pool li .item-box .item-price strong {
	font-weight: bold;
}

.cell-pool li .item-box .item-price strong span {
	font-family: arial;
}

.cell-pool li .item-box .item-link:hover {
	text-decoration: none;
}


	/* cell-sub-nav */
.cell-sub-nav {
	min-height: 24px;
	_height: 24px;
	padding: 15px 10px;
	background-color: #e8e8e8;
}

.cell-sub-nav ul {
	font-family: 'microsoft yahei';
}

.cell-sub-nav li {
	float: left;
}

.cell-sub-nav li a {
	display: block;
	padding: 2px 4px;
	font-size: 12px;
	color: #333;
}


.cell-sub-nav li a:hover, .cell-sub-nav li a.cur {
	color: #fff;
	background-color: #ee3c24;
	text-decoration: none;
}
	
	/* cell-fly-nav */
.cell-fly-nav {
	position: absolute;
	top: 74px;
	left: -106px;
	width: 96px;
	font-family: 'microsoft yahei';
}

.cell-fly-nav li a {
	display: block;
	height: 30px;
	padding-left: 35px;
	border-top: 1px solid #e2e2e2;
	line-height: 30px;
	font-size: 14px;
	font-weight: bold;
	background: #FFF url('../img/icon-fly-nav.png') -90px center no-repeat;
	color: #000;
}

.cell-fly-nav li .first {
	padding-top: 5px;
	border-top: 0 none;
}

.cell-fly-nav li .link-1 {
	background-position: -114px 12px;
}

.cell-fly-nav li .link-1:hover {
	background-position: -4px 12px;
}

.cell-fly-nav li .link-2 {
	background-position: -114px -24px;
}

.cell-fly-nav li .link-2:hover {
	background-position: -4px -24px;
}

.cell-fly-nav li .link-3 {
	background-position: -114px -53px;
}

.cell-fly-nav li .link-3:hover {
	background-position: -4px -53px;
}

.cell-fly-nav li .link-4 {
	background-position: -114px -82px;
}

.cell-fly-nav li .link-4:hover {
	background-position: -4px -82px;
}

.cell-fly-nav li .link-5 {
	background-position: -114px -112px;
}

.cell-fly-nav li .link-5:hover {
	background-position: -4px -112px;
}

.cell-fly-nav li .link-6 {
	background-position: -114px -144px;
}

.cell-fly-nav li .link-6:hover {
	background-position: -4px -144px;
}

.cell-fly-nav li .link-7 {
	background-position: -114px -172px;
}

.cell-fly-nav li .link-7:hover {
	background-position: -4px -172px;
}

.cell-fly-nav li .link-8 {
	background-position: -114px -204px;
}

.cell-fly-nav li .link-8:hover {
	background-position: -4px -204px;
}

.cell-fly-nav li .link-9 {
	background-position: -114px -235px;
}

.cell-fly-nav li .link-9:hover {
	background-position: -4px -235px;
}

.cell-fly-nav li .link-10 {
	background-position: -114px -265px;
}

.cell-fly-nav li .link-10:hover {
	background-position: -4px -265px;
}

.cell-fly-nav li .link-11 {
	background-position: -114px -297px;
}

.cell-fly-nav li .link-11:hover {
	background-position: -4px -297px;
}

.cell-fly-nav li .link-12 {
	background-position: -114px -326px;
}

.cell-fly-nav li .link-12:hover {
	background-position: -4px -326px;
}

.cell-fly-nav li .link-13 {
	background-position: -114px -355px;
}

.cell-fly-nav li .link-13:hover {
	background-position: -4px -355px;
}

.cell-fly-nav li a:hover, .cell-fly-nav li a.cur {
	color: #fff;
	background-color: #ee3c24;
	text-decoration: none;
}

.cell-fly-nav li a.c-bdt {
	border-color: #ee3c24;
}

	/* cell-flipper */
.cell-flipper {
	font-family: 'microsoft yahei';
	margin-bottom: 30px;
	zoom: 1;
}

.cell-flipper a {
	float: left;
	height: 62px;
	padding: 0 18px;
	display: inline;
	margin: 0 2px;
	line-height: 62px;
	font-size: 18px;
	color: #666;
}

.cell-flipper a.cur {
	color: #fff;
}

.cell-flipper a:hover {
	color: #fff;
	background-color: #ee3c24;
	text-decoration: none;
}

.cell-flipper a.prev {
	float: left;
	width: 172px;
	padding-left: 20px;
	display: inline;
	margin-left: 0px;
	color: #fff;
	font-size: 20px;
	background-color: #ee3c24;
}

.cell-flipper a.next {
	float: right;
	width: 172px;
	padding-right: 20px;
	text-align: right;
	display: inline;
	margin-right: 0px;
	color: #fff;
	background-color: #ee3c24;
}

.cell-flipper a.disable {
	background-color: #666 !important;
}

	/* cell-crumb */
.cell-crumb {
	height: 34px;
	padding-left: 12px;
	border-bottom: 1px solid #dbdbdb;
	line-height: 34px;
	background-color: #e8e8e8;
}

.cell-crumb a {
	display: inline-block;
	color: #333;
	vertical-align: middle;
}

.cell-crumb span {
	color: #666;
	vertical-align: middle;
}

.cell-crumb .crumb-arrow {
	display: inline-block;
	width: 10px;
	height: 10px;
	margin: 0 5px;
	_vertical-align: -2px;
	background: url('../img/icon.gif') -56px -558px no-repeat;
	
}

	/* cell-title */
.cell-title {
	height: 24px;
	line-height: 24px;
}

.cell-title a {
	color: #333;
	font-size: 20px;
	font-weight: bold;
	font-family: 'microsoft yahei';
}

	/* cell-slider */
.cell-slider {
	position: relative;
	_width: 630px;
	overflow: hidden;
	zoom: 1;
}

.cell-slider .big-cont {
	position: relative;
	left: 0px;
	width: 6300px;
}

.cell-slider .big-cont li {
	float: left;
	width: 630px;
	overflow: hidden;
}

.cell-slider .thumb-cont {
	width: 800px;
}

.cell-slider .thumb-cont  li {
	float: left;
	width: 70px;
	height: 70px;
	margin-right: 10px;
	background-color: #ccc;
}

.cell-slider .thumb-cont  li img {
	zoom: 1; 
	filter: alpha(opacity=60); 
	opacity: 0.6;
}

.cell-slider .thumb-cont  li.cur img{
	zoom: 1; 
	filter: alpha(opacity=100); 
	opacity: 1;
}

.cell-slider .btn-cont a {
	position: absolute;
	top: 50%;
	margin-top: -50px;
	background: url('../img/icon.gif') no-repeat;
	text-indent: -9999px;
	box-shadow: 1px 1px 3px #333;
}

.cell-slider .btn-cont .prev {
	left: 15px;
	height: 38px;
	width: 54px;
	background-position: 0 -60px;
}

.cell-slider .btn-cont .prev-disable {
	background-position: 0 -160px;
}

.cell-slider .btn-cont .next {
	right: 15px;
	height: 38px;
	width: 54px;
	background-position: 0 -110px;
}

.cell-slider .btn-cont .next-disable {
	background-position: 0 -210px;
}

	/* cell-info */
.cell-info {
	padding: 8px 0;
	color: #333;
}

.cell-info .item-info {
	display: inline-block;
	padding-left: 22px;
	margin-right: 36px;
	background: url('../img/icon.gif') no-repeat;
}

.cell-info .info-data {
	background-position: 0 3px;
}

.cell-info .info-times {
	background-position: 0 -16px;
}

.cell-info .info-comments {
	background-position: 0 -36px;
}

	/* cell-source */
.cell-source {
	padding: 30px 0 10px;
}

.cell-source .crumb-arrow {
	margin: 0 5px;
	color: #179fcd;
}
	/* cell-count-down cell-sold-out */

.cell-count-down {
	position: absolute;
	left: 0px;
	top: 523px;
	height: 40px;
	padding: 0 15px 0 5px;
	line-height: 40px;
	color: #fff;
	font-size: 14px;
	background-color: #ee3c24;
	box-shadow: 1px 1px 3px #333;
}

.cell-count-down .patch {
	position: absolute;
	left: -8px;
	top: 0px;
	width: 8px;
	height: 49px;
	overflow: hidden;
	background: url('../img/patch-in.png') no-repeat;
}

.cell-sold-out {
	position: absolute;
	left: 0px;
	top: 523px;
	height: 40px;
	padding: 0 15px 0 5px;
	line-height: 40px;
	color: #fff;
	font-size: 14px;
	background-color: #616161;
	box-shadow: 1px 1px 3px #999;
}

.cell-sold-out .patch {
	position: absolute;
	left: -8px;
	top: 0px;
	width: 8px;
	height: 49px;
	overflow: hidden;
	background: url('../img/patch-out.png') no-repeat;
}

	/* cell-para */
.cell-para p {
	padding: 10px 0;
	color: #333;
	font-size: 14px;
	font-family: 'microsoft yahei';
	margin-bottom: 10px;
}

.cell-para p a {
	color: #179fcd;
}
	
	/* cell-sub-title */
.cell-sub-title {
	padding: 15px 0 8px;
	border-bottom: 1px solid #e2e2e2;
	font-weight: bold;
	font-size: 14px;
}

	/* cell-price */
.cell-price {
	color: #ee3c24;
	font-size: 30px;
	font-weight: bold;
}

.cell-price span {
	font-family: arial;
}


	/* cell-price-compare */
.cell-price-compare span, .cell-price-compare del{
	margin-right: 15px;
}

.cell-price-compare .price-ori span {
	margin: 0px;
	font-family: arial;
}

.cell-price-compare a {
	margin-left: 10px;
}

	/* cell-read-all */
.cell-read-all .btn-read-all {
	display: inline-block;
	height: 42px;
	padding: 0 15px;
	color: #fff;
	line-height: 42px;
	font-weight: bold;
	font-size: 18px;
	font-family: 'microsoft yahei';
	background-color: #179fcd;
}

.cell-read-all .btn-read-all:hover {
	text-decoration: none;
}
	
	/* cell-tag */
.cell-tag {
	padding-top: 10px;
}

.cell-tag a {
	float: left;
	height: 24px;
	padding: 0 10px;
	border: 1px solid #cbcbcb;
	margin-right: -1px;
	line-height: 24px;
	color: #333;
	background-color: #e2e2e2;
}

.cell-tag a.first {
	border-color: #000;
	color: #fff;
	background-color: #000;
}

.cell-tag a.first:hover {
	border-color: #000;
	color: #fff;
	background-color: #000;
}

.cell-tag a:hover {
	border: 1px solid #179fcd;
	color: #fff;
	background-color: #179fcd;
	text-decoration: none;
}

.cell-subscribe {
	position: relative;
	top: 35px;
	padding: 15px 0 32px;
	margin-bottom: 20px;
	text-align: center;
	background-color: #ee3c24;
}

.cell-subscribe .notice {
	padding-bottom: 8px;
	font-size: 18px;
	color: #fff;
	font-family: 'microsoft yahei';
}

.cell-subscribe  .input-email {
	width: 338px;
	height: 30px;
	height: 29px\9;
	padding: 2px 3px;
	border: 1px solid #d22e18;
	font-size: 18px;
	line-height: 30px;
	line-height: 29px\9;
	vertical-align: middle;
}

.cell-subscribe .btn-subscribe {
	width: 90px;
	height: 33px;
	color: #000;
	font-size: 18px;
	font-weight: bold;
	line-height: 33px;
	border: 0 none;
	vertical-align: middle;
	background: url('../img/btn-1.png') no-repeat;
	cursor: pointer;
}











	/* cell-for-sale */
.cell-for-sale {
	height: 72px;
	padding: 15px;
	margin-bottom: 15px;
	color: #fff;
	font-size: 14px;
	line-height: 1.2;
	background: #ee3c24 url('../img/line.gif') -290px 0 repeat-y;
}

.cell-for-sale .price {
	padding: 3px 0;
	font-size: 30px;
}

.cell-for-sale .price span {
	font-family: arial;
}

	/* cell-comments */
.cell-comments {
	padding: 15px;
	margin-bottom: 15px;
	background: #f3f3f3 url('../img/line.gif') repeat-y;
	zoom: 1;
}

.cell-comments .title-comments {
	height: 24px;
	padding-left: 18px;
	line-height: 24px;
	color: #333;
	font-size: 14px;
	font-weight: bold;
	font-family: 'microsoft yahei';
	background: url('../img/icon.gif') 0px -36px no-repeat;
}

.cell-comments .input-cont textarea {
	width: 190px;
	height: 52px;
	padding: 3px;
	border: 1px solid #ccc;
	color: #ccc;
	overflow: auto;
}

.cell-comments .btn-cont {
	padding: 4px 0 8px 0;
	border-bottom: 1px solid #ccc;
}

.cell-comments .btn-cont .btn-submit {
	cursor: pointer;
}

.cell-comments .btn-cont input {
	width: 46px;
	height: 25px;
	border: 1px solid #0d85ad;
	line-height: 25px;
	text-align: center;
	color: #fff;
	background-color: #1ea7d5;
}

.cell-comments .comment-list {
	line-height: 20px;
}

.cell-comments .comment-list dt {
	float: left;
	margin-top: 10px;
}


.cell-comments .comment-list dd {
	padding: 10px 0 10px 25px;
	border-bottom: 1px solid #e6e6e6;
}

.cell-comments .comment-list dd .u-name {
	margin-right: 5px;
}

.cell-comments .comment-list dd .pub-time {
	margin-left: 10px;
	color: #ccc;
}

.cell-comments .flipper {
	padding: 8px 0;
}

.cell-comments .flipper a{
	margin-right: 5px;
	line-height: 26px;
	color: #179fcd;
}

.cell-comments .flipper .next {
	display: inline-block;
	padding: 0 10px;
	line-height: 26px;
	color: #fff;
	background-color: #333;
}

.cell-comments .flipper a.next:hover {
	color: #fff;
	background-color: #179fcd;
	text-decoration: none;
}

.cell-comments .flipper .cur,.cell-comments .flipper a:hover {
	color: #000;
}

	/* cell-news-nav */
.cell-news-nav {
	padding: 5px 10px 5px 15px;
	margin-bottom: 15px;
	background-color: #FFF;
}

.cell-news-nav li a {
	display: block;
	height: 30px;
	border-top: 1px solid #f0f0f0;
	font-size: 14px;
	line-height:30px;
	color: #333;
}

.cell-news-nav li a.first {
	border-top: 0 none;
}

.cell-news-nav li a:hover {
	text-decoration: none;
}

.cell-news-nav li a.cur, .cell-news-nav li a.hover {
	color: #ee3c24;
}

.cell-news-nav li a span {
	width: 0px;
	height: 0px;
	border: 6px solid #666;
	margin-right: 5px;
	font-size: 0px;
	vertical-align: middle;
}

.cell-news-nav li a.cur span, .cell-news-nav li a.hover span {
	border-color: #ee3c24;
}

	/* cell-hot-wave */
.cell-hot-wave {
	padding: 15px;
	margin-bottom: 15px;
	background-color: #FFF;
}

.cell-hot-wave h2 {
	padding-left: 24px;
	color: #333;
	font-weight: bold;
	background: url('../img/icon-fly-nav.png') -124px -31px no-repeat;
}

.cell-hot-wave dt {
	margin-top: 15px;
}

.cell-hot-wave .link {
	color: #179fcd;
	text-decoration: underline;
}

.cell-hot-wave .time {
	color: #ccc;
}

.cell-hot-wave .intr {
	color: #666;
}


	/* cell-share-board  cell-rec-board */
.cell-share-board, .cell-rec-board {
	padding: 15px;
	margin-bottom: 15px;
	background-color: #FFF;
}	

.cell-share-board a, .cell-share-board span {
	display: inline-block;
	vertical-align: middle;
}

.cell-share-board a.hover img {
	zoom: 1; 
	filter: alpha(opacity=90); 
	opacity: 0.9;
}

.cell-rec-board {
	padding-bottom: 10px;
}

.cell-rec-board img {
	display: block;
	margin-bottom: 5px;
}

	/* cell-discount */
.cell-discount-cont {
	padding-top:15px;
}	
	
.cell-discount {
	width: 900px;
}
	
.cell-discount li {
	float: left;
	width: 435px;
	margin: 0 15px 15px 0;
}
	
.cell-discount-cont .cell-count-down, .cell-discount-cont .cell-sold-out {
	top: 370px;
	_left: -15px;
}
	
	/* cell-another-board */
.cell-another-board {
	display: none;
	position: fixed;
	_position: absolute;
	z-index: 99;
	bottom: 30px;
	right: -400px;
	width: 461px;
	border-top: 3px solid #ee3c24;
	box-shadow: 1px 1px 2px #666;
	color: #333;
	font-family: 'microsoft yahei';
	background-color: #FFF;
}
	
.cell-another-board li {
	float: left;
}

.cell-another-board li a {
	display: block;
	padding: 10px 0;
	color: #ee3c24;
	background: url('../img/icon.gif') no-repeat;
}

.cell-another-board li a p {
	color: #333;
}

.cell-another-board li.left a {
	width: 200px;
	padding-left: 30px;
	border-right: 1px solid #dbdbdb;
	background-position: 6px -450px;
}

.cell-another-board li.left a:hover {
	background-position: 6px -575px;
}

.cell-another-board li.right a {
	width: 200px;
	padding-right: 30px;
	text-align: right;
	background-position: 207px -494px;
}

.cell-another-board li.right a:hover {
	background-position: 207px -534px;
}

.cell-another-board li.left a:hover p, .cell-another-board li.right a:hover p {
	color: #ee3c24;
}


	
	